* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: rgb(0, 0, 0);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/************************* Primary Header *******************************/
.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    background: hsl(0, 0%, 0%, 0.5);
    backdrop-filter: blur(1rem);
    z-index: 1;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
        background: hsl(0, 0%, 100%, 0.1);
        backdrop-filter: blur(1rem);
    }
}

.primary-navigation a{
    color: white;
    text-decoration: none;
}

.primary-navigation a > [aria-hidden = "true"] {
    font-weight: 700;
    margin-block-end: 0.75em;
}

/* Mobiles */
@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: fixed;
        z-index: 100;
        background-color: transparent;
        background-image: url("/assets/hamburger.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 1rem;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("/assets/hamburger-close.svg");
        background-color: transparent;
        position: fixed;
    }

    .download-top {
        display: block;
        position: fixed;
        z-index: 100;
        background-color: transparent;
        background-image: url("/assets/playstore.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 2rem;
        aspect-ratio: 1;
        top: 1.8rem;
        right: 4rem;
    }

    #company-logo {
        display: none;
    }
}

/* Removes numbering on slightly bigger screens */
@media (min-width: 35em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden = "true"] {
        display: none;
    }
}

@media (min-width: 35em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
        background: none;
    }

    section {
        display: none;
    }

    #company-logo-img {
        width: 100px;
        height: 100px;
        padding: 15px;
    }
}

/* Mobiles */
@media only screen and (max-width: 768px) { 
    #animation {
        width: 100vw;
        height: 92vh;
        padding-top: 4%;
    }

    #desktopAnimation {
        display: none;
    }

    .btn {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        color: #000000;
        font-size: 20px;
        background: #ffffff;
        padding: 1% 4% 1% 4%;
        text-decoration: none;
        z-index: 900000;
        margin: 0 auto;
    }
    
    .btn:hover {
        color: white;
        background: #000000;
        text-decoration: none;
    }
}

/* Desktops */
@media only screen and (min-width: 768px) {
    #animation{
        display: none;
    }

    #desktopAnimation{
        width: 100vw;
        height: 100vh;
    }

    .btn {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        color: #000000;
        font-size: 20px;
        background: #ffffff;
        padding: 1% 4% 1% 4%;
        text-decoration: none;
        z-index: 900000;
        margin: 0 auto;
    }
    
    .btn:hover {
        color: white;
        background: #000000;
        text-decoration: none;
    }
}

/* Animated loading screen for mobile */
.spinner {
    width: 80px;
    height: 120px;
    background: #000000 url(/assets/loader.gif) no-repeat center center;
    background-size: 200%;
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    margin: auto;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: #000000;
    z-index: 999999;
    }

/* *************** Blogs.html ***************** */
#reading {
    padding-top: 50%;
    margin: auto;
    height: 60vh;
    width: 80vw;
}

#soon {
    font-size: 20px;
    color: white;
    align-items: center;
    text-align: center;
}

#desktopDownload{
    position: relative;
}